
# Created by https://www.gitignore.io/api/java
# Edit at https://www.gitignore.io/?templates=java

# Folders To Exclude #
.gradle
!gradle/wrapper/gradle-wrapper.jar
apps/ofbiz/*
apps/benchmark/*
!apps/ofbiz/.gitkeep
!apps/benchmark/pom.xml
!apps/benchmark/README.txt
framework/build/*
framework/com/*
framework/java/*
framework/net/*
models/benchmark/*
models/ofbiz/*
!models/benchmark/.gitkeep
!models/ofbiz/.gitkeep
out/*
private/*

# Java compiled class files #
*.class

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# End of https://www.gitignore.io/api/java
